.container {
    margin-left: auto;
    margin-right: auto;
    border: solid black;
    max-width: 600px;
    align-content: center;
    text-align: center;
    position: relative;
}

ul {
    list-style-type: none;
}

#js-add-button {
    font-size: 30pt;
    position: absolute;
    right: 0;
    top: 0;
}